# This file contains default .gitignore rules. To use it, copy it to .gitignore,
# and it will cause files like your settings.php and user-uploaded files to be
# excluded from Git version control. This is a common strategy to avoid
# accidentally including private information in public repositories and patch
# files.
#
# Because .gitignore can be specific to your site, this file has a different
# name; updating Drupal core will not override your custom .gitignore file.

# Ignore core when managing all of a project's dependencies with Composer
# including Drupal core.
# core

# Ignore dependencies that are managed with Composer.
# Generally you should only ignore the root vendor directory. It's important
# that core/assets/vendor and any other vendor directories within contrib or
# custom module, theme, etc., are not ignored unless you purposely do so.
/vendor/

# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
sites/*/services*.yml

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore SimpleTest multi-site environment.
sites/simpletest

# If you prefer to store your .gitignore file in the sites/ folder, comment
# or delete the previous settings and uncomment the following ones, instead.

# Ignore configuration files that may contain sensitive information.
# */settings*.php

# Ignore paths that contain user-generated content.
# */files
# */private

# Ignore SimpleTest multi-site environment.
# simpletest

# Ignore unrelated files and folders.
/other-toastmasters-sites/
/dev/
/district96/*
files/*
BU/*
ai-cache/*
c:/*
bigdump.php
error_log


# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
files/*
BU/*
ai-cache/*
c:/*
conference/*
bigdump.php
.htaccess

# Pantheon commits a settings.php for environment-specific settings.
# Place local settings in settings.local.php
sites/*/settings.local.php
sites/*/settings.local_debug.php

# Note that services.local.yml is not loaded by default. If you would like
# to use this file add the following to your settings.local.php file:
#   $settings['container_yamls'][] = __DIR__ . '/services.local.yml';
sites/*/services.local.yml

# ** Only works in OSs that support newer versions of fnmatch (Bash 4+)
/sites/default/**/files
/sites/default/**/private

# Ignore SimpleTest multi-site environment.
sites/simpletest

# Packages #
############
*.7z
*.dmg
*.gz
*.bz2
*.iso
*.jar
*.rar
*.tar
*.zip
*.tgz

# Logs and databases #
######################
*.log
*.sql

# OS generated files #
######################
.DS_Store*
ehthumbs.db
Icon

Thumbs.db
._*

# Vim generated files #
######################
*.un~

# SASS #
##########
.sass-cache

# Things in the core directory that Drupal 8 commits in the repository.
!core/**/*.gz

.idea/