/**
 * Variable Overrides.
 *
 * Modify this file to override the Bootstrap Framework variables. You can copy
 * these variables directly from ../bootstrap/less/variables.less to this file.
 */
.bg-primary {
  background-color: #004165 !important;
}
.bg-primary.faded {
  background-color: rgba(0, 65, 101, 0.7) !important;
}
.bg-primary.light {
  color: #fff;
}
.bg-primary.light a {
  color: #cccccc;
}
.bg-primary.light a:hover {
  color: #999999;
}
.bg-primary.dark {
  color: #000;
}
.bg-primary.dark a {
  color: #000000;
}
.bg-primary.dark a:hover {
  color: #000000;
}
.bg-primary .btn-default {
  background-color: #F2DF74;
  border-color: #F2DF74;
  color: #333 !important;
}
.bg-primary .btn-default:hover {
  background-color: #e9ca17;
  border-color: #e9ca17;
  color: #fff;
}
.bg-primary .btn-default a {
  color: #333;
  text-decoration: none;
}
.bg-primary .btn-default a:hover {
  color: #333;
  text-decoration: none;
}
.bg-secondary {
  background-color: #772432 !important;
}
.bg-secondary.faded {
  background-color: rgba(119, 36, 50, 0.7) !important;
}
.bg-secondary.light {
  color: #fff;
}
.bg-secondary.light a {
  color: #cccccc;
}
.bg-secondary.light a:hover {
  color: #999999;
}
.bg-secondary.dark {
  color: #000;
}
.bg-secondary.dark a {
  color: #000000;
}
.bg-secondary.dark a:hover {
  color: #000000;
}
.bg-secondary .btn-default {
  background-color: #F2DF74;
  border-color: #F2DF74;
  color: #333 !important;
}
.bg-secondary .btn-default:hover {
  background-color: #e9ca17;
  border-color: #e9ca17;
  color: #fff;
}
.bg-secondary .btn-default a {
  color: #333;
  text-decoration: none;
}
.bg-secondary .btn-default a:hover {
  color: #333;
  text-decoration: none;
}
.bg-light {
  background-color: #A9b2B1 !important;
}
.bg-light.faded {
  background-color: rgba(169, 178, 177, 0.7) !important;
}
.bg-light.light {
  color: #fff;
}
.bg-light.light a {
  color: #cccccc;
}
.bg-light.light a:hover {
  color: #999999;
}
.bg-light.dark {
  color: #000;
}
.bg-light.dark a {
  color: #999999;
}
.bg-light.dark a:hover {
  color: #666666;
}
.bg-light .btn-default {
  background-color: #772432;
  border-color: #772432;
  color: #fff !important;
}
.bg-light .btn-default:hover {
  background-color: #290c11;
  border-color: #290c11;
  color: #fff;
}
.bg-light .btn-default a {
  color: #fff;
  text-decoration: none;
}
.bg-light .btn-default a:hover {
  color: #fff;
  text-decoration: none;
}
.region-sidebar-first,
.region-sidebar-second,
.region-footer,
.region-content {
  padding: 0;
}
/**
 * Theme variables.
 *
 */
.bg-blue {
  background-color: #004165 !important;
}
.bg-blue.faded {
  background-color: rgba(0, 65, 101, 0.7) !important;
}
.bg-blue.light {
  color: #fff;
}
.bg-blue.light a {
  color: #cccccc;
}
.bg-blue.light a:hover {
  color: #999999;
}
.bg-blue.dark {
  color: #000;
}
.bg-blue.dark a {
  color: #000000;
}
.bg-blue.dark a:hover {
  color: #000000;
}
.bg-blue .btn-default {
  background-color: #F2DF74;
  border-color: #F2DF74;
  color: #333 !important;
}
.bg-blue .btn-default:hover {
  background-color: #e9ca17;
  border-color: #e9ca17;
  color: #fff;
}
.bg-blue .btn-default a {
  color: #333;
  text-decoration: none;
}
.bg-blue .btn-default a:hover {
  color: #333;
  text-decoration: none;
}
.bg-burgundy {
  background-color: #772432 !important;
}
.bg-burgundy.faded {
  background-color: rgba(119, 36, 50, 0.7) !important;
}
.bg-burgundy.light {
  color: #fff;
}
.bg-burgundy.light a {
  color: #cccccc;
}
.bg-burgundy.light a:hover {
  color: #999999;
}
.bg-burgundy.dark {
  color: #000;
}
.bg-burgundy.dark a {
  color: #000000;
}
.bg-burgundy.dark a:hover {
  color: #000000;
}
.bg-burgundy .btn-default {
  background-color: #F2DF74;
  border-color: #F2DF74;
  color: #333 !important;
}
.bg-burgundy .btn-default:hover {
  background-color: #e9ca17;
  border-color: #e9ca17;
  color: #fff;
}
.bg-burgundy .btn-default a {
  color: #333;
  text-decoration: none;
}
.bg-burgundy .btn-default a:hover {
  color: #333;
  text-decoration: none;
}
.bg-grey {
  background-color: #A9b2B1 !important;
}
.bg-grey.faded {
  background-color: rgba(169, 178, 177, 0.7) !important;
}
.bg-grey.light {
  color: #fff;
}
.bg-grey.light a {
  color: #cccccc;
}
.bg-grey.light a:hover {
  color: #999999;
}
.bg-grey.dark {
  color: #000;
}
.bg-grey.dark a {
  color: #999999;
}
.bg-grey.dark a:hover {
  color: #666666;
}
.bg-grey .btn-default {
  background-color: #772432;
  border-color: #772432;
  color: #fff !important;
}
.bg-grey .btn-default:hover {
  background-color: #290c11;
  border-color: #290c11;
  color: #fff;
}
.bg-grey .btn-default a {
  color: #fff;
  text-decoration: none;
}
.bg-grey .btn-default a:hover {
  color: #fff;
  text-decoration: none;
}
.bg-red {
  background-color: #CD202C !important;
}
.bg-red.faded {
  background-color: rgba(205, 32, 44, 0.7) !important;
}
.bg-red.light {
  color: #fff;
}
.bg-red.light a {
  color: #cccccc;
}
.bg-red.light a:hover {
  color: #999999;
}
.bg-red.dark {
  color: #000;
}
.bg-red.dark a {
  color: #000000;
}
.bg-red.dark a:hover {
  color: #000000;
}
.bg-red .btn-default {
  background-color: #F2DF74;
  border-color: #F2DF74;
  color: #333 !important;
}
.bg-red .btn-default:hover {
  background-color: #e9ca17;
  border-color: #e9ca17;
  color: #fff;
}
.bg-red .btn-default a {
  color: #333;
  text-decoration: none;
}
.bg-red .btn-default a:hover {
  color: #333;
  text-decoration: none;
}
.bg-yellow {
  background-color: #F2DF74 !important;
}
.bg-yellow.faded {
  background-color: rgba(242, 223, 116, 0.7) !important;
}
.bg-yellow.light {
  color: #fff;
}
.bg-yellow.light a {
  color: #cccccc;
}
.bg-yellow.light a:hover {
  color: #999999;
}
.bg-yellow.dark {
  color: #000;
}
.bg-yellow.dark a {
  color: #999999;
}
.bg-yellow.dark a:hover {
  color: #666666;
}
.bg-yellow .btn-default {
  background-color: #004165;
  border-color: #004165;
  color: #fff !important;
}
.bg-yellow .btn-default:hover {
  background-color: #000000;
  border-color: #000000;
  color: #fff;
}
.bg-yellow .btn-default a {
  color: #fff;
  text-decoration: none;
}
.bg-yellow .btn-default a:hover {
  color: #fff;
  text-decoration: none;
}
.btn-primary {
  background-color: #004165;
  border-color: #004165;
  color: #fff !important;
}
.btn-primary:hover {
  background-color: #000000;
  border-color: #000000;
  color: #fff;
}
.btn-primary a {
  color: #fff;
  text-decoration: none;
}
.btn-primary a:hover {
  color: #fff;
  text-decoration: none;
}
.btn-secorndary {
  background-color: #772432;
  border-color: #772432;
  color: #fff !important;
}
.btn-secorndary:hover {
  background-color: #290c11;
  border-color: #290c11;
  color: #fff;
}
.btn-secorndary a {
  color: #fff;
  text-decoration: none;
}
.btn-secorndary a:hover {
  color: #fff;
  text-decoration: none;
}
.btn-blue {
  background-color: #004165;
  border-color: #004165;
  color: #fff !important;
}
.btn-blue:hover {
  background-color: #000000;
  border-color: #000000;
  color: #fff;
}
.btn-blue a {
  color: #fff;
  text-decoration: none;
}
.btn-blue a:hover {
  color: #fff;
  text-decoration: none;
}
.btn-burgundy {
  background-color: #772432;
  border-color: #772432;
  color: #fff !important;
}
.btn-burgundy:hover {
  background-color: #290c11;
  border-color: #290c11;
  color: #fff;
}
.btn-burgundy a {
  color: #fff;
  text-decoration: none;
}
.btn-burgundy a:hover {
  color: #fff;
  text-decoration: none;
}
.btn-grey {
  background-color: #A9b2B1;
  border-color: #A9b2B1;
  color: #fff !important;
}
.btn-grey:hover {
  background-color: #748180;
  border-color: #748180;
  color: #fff;
}
.btn-grey a {
  color: #fff;
  text-decoration: none;
}
.btn-grey a:hover {
  color: #fff;
  text-decoration: none;
}
.btn-red {
  background-color: #CD202C;
  border-color: #CD202C;
  color: #fff !important;
}
.btn-red:hover {
  background-color: #751219;
  border-color: #751219;
  color: #fff;
}
.btn-red a {
  color: #fff;
  text-decoration: none;
}
.btn-red a:hover {
  color: #fff;
  text-decoration: none;
}
.btn-yellow {
  background-color: #F2DF74;
  border-color: #F2DF74;
  color: #333 !important;
}
.btn-yellow:hover {
  background-color: #e9ca17;
  border-color: #e9ca17;
  color: #fff;
}
.btn-yellow a {
  color: #333;
  text-decoration: none;
}
.btn-yellow a:hover {
  color: #333;
  text-decoration: none;
}
@font-face {
  font-family: "LubalinGraphEF";
  src: url("../fonts/lubalin_graph_regular_2-webfont.eot");
  src: url("../fonts/lubalin_graph_regular_2-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lubalin_graph_regular_2-webfont.woff2") format("woff2"), url("../fonts/lubalin_graph_regular_2-webfont.woff") format("woff"), url("../fonts/lubalin_graph_regular_2-webfont.ttf") format("truetype"), url("../fonts/lubalin_graph_regular_2-webfont.svg#LubalinGraphEF") format("svg");
}
.navbar-expand-lg {
  z-index: 100;
}
.region-nav-main {
  width: 100%;
}
.region-nav-main li a.nav-item {
  color: #cccccc;
  border-bottom: 2px solid #004165;
}
.region-nav-main li a.nav-item:hover,
.region-nav-main li a.nav-item.active {
  color: #fff;
  border-bottom: 2px solid #F2DF74;
}
.region-nav-main li a.nav-item.is-active.show {
  border: none;
}
.menu--account a.nav-link {
  color: #fff;
}
button.navbar-toggler {
  position: absolute;
  right: 10px;
  top: 10px;
}
.user-logged-in li.loggedin {
  display: block !important;
}
.user-logged-in li.loggedout {
  display: none;
}
.mobile-screen-menu .field--name-body {
  width: 100%;
}
.mobile li.nav-item {
  text-align: center;
}
.mobile li.loggedin {
  display: none;
}
.mobile li.loggedout {
  display: block;
}
.mobile li i {
  display: block;
}
.loggedin {
  display: none;
}
.loggedout {
  display: block;
}
.breadcrumb {
  padding: 16px;
  background-color: #eceeee;
  border-radius: 4px;
}
.breadcrumb a {
  font-weight: 500;
  text-decoration: none;
  color: #004165;
}
.breadcrumb a:hover {
  text-decoration: underline;
}
.region-sidebar-second {
  margin-top: 24px;
}
.region-sidebar-second h2 {
  font-size: 24px;
}
.region-sidebar-second .views-row {
  margin-bottom: 18px;
}
.region-sidebar-second .views-row .views-field-created {
  font-size: 14px;
  font-weight: 400;
}
.region-sidebar-second .views-row .views-field-title a {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  line-height: 18px;
}
#calendar {
  max-width: 1100px;
  margin: 40px auto;
  padding: 0 10px;
}
.fc .fc-v-event.category-1 {
  background-color: #772432;
  border-color: #772432;
}
.fc .fc-v-event.category-3 {
  background-color: #00B233;
  border-color: #00B233;
}
.fc .fc-v-event.category-2 {
  background-color: #772432;
  border-color: #772432;
}
.fc .fc-v-event.category-8 {
  background-color: #F2DF74;
  border-color: #F2DF74;
}
.fc .fc-v-event.category-904 {
  background-color: #F2DF74;
  border-color: #F2DF74;
}
.fc .category-1 .fc-daygrid-event-dot,
.fc .category-1 .fc-list-event-dot {
  color: #772432;
  border-color: #772432;
}
.fc .category-3 .fc-daygrid-event-dot,
.fc .category-3 .fc-list-event-dot {
  color: #00B233;
  border-color: #00B233;
}
.fc .category-2 .fc-daygrid-event-dot,
.fc .category-2 .fc-list-event-dot {
  color: #772432;
  border-color: #772432;
}
.fc .category-8 .fc-daygrid-event-dot,
.fc .category-8 .fc-list-event-dot {
  color: #F2DF74;
  border-color: #F2DF74;
}
.fc .category-904 .fc-daygrid-event-dot,
.fc .category-904 .fc-list-event-dot {
  color: #F2DF74;
  border-color: #F2DF74;
}
.fc .category-113 .fc-daygrid-event-dot,
.fc .category-113 .fc-list-event-dot {
  color: pink;
  border-color: pink;
}
td.fc-list-event-title {
  width: 100%;
}
tr.fc-list-event {
  display: block !important;
}
.popper,
.tooltip {
  position: absolute;
  z-index: 9999;
  background: #004165;
  color: #FFFFFF;
  width: 150px;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  padding: 10px;
  text-align: center;
  opacity: 100;
  max-width: 200px;
  width: auto;
  font-size: 0.8rem;
  padding: 0.5em 1em;
}
.popper .popper__arrow,
.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
}
.tooltip .tooltip-arrow,
.popper .popper__arrow {
  border-color: #004165;
}
.style5 .tooltip .tooltip-arrow {
  border-color: #1E252B;
}
.tooltip-inner {
  background-color: #004165;
}
.popper[x-placement^="top"],
.tooltip[x-placement^="top"] {
  margin-bottom: 5px;
}
.popper[x-placement^="top"] .popper__arrow,
.tooltip[x-placement^="top"] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.popper[x-placement^="bottom"],
.tooltip[x-placement^="bottom"] {
  margin-top: 5px;
}
.tooltip[x-placement^="bottom"] .tooltip-arrow,
.popper[x-placement^="bottom"] .popper__arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.tooltip[x-placement^="right"],
.popper[x-placement^="right"] {
  margin-left: 5px;
}
.popper[x-placement^="right"] .popper__arrow,
.tooltip[x-placement^="right"] .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}
.popper[x-placement^="left"],
.tooltip[x-placement^="left"] {
  margin-right: 5px;
}
.popper[x-placement^="left"] .popper__arrow,
.tooltip[x-placement^="left"] .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}
#loading {
  display: none;
  position: absolute;
  top: 30px;
  right: calc(50% - 25px);
  z-index: 120;
  text-indent: -9999px;
  height: 200px;
}
@keyframes ldio-p9kl9xbnh6i-1 {
  0% {
    top: 40.8px;
    height: 122.4px;
  }
  50% {
    top: 71.4px;
    height: 61.2px;
  }
  100% {
    top: 71.4px;
    height: 61.2px;
  }
}
@keyframes ldio-p9kl9xbnh6i-2 {
  0% {
    top: 48.45px;
    height: 107.1px;
  }
  50% {
    top: 71.4px;
    height: 61.2px;
  }
  100% {
    top: 71.4px;
    height: 61.2px;
  }
}
@keyframes ldio-p9kl9xbnh6i-3 {
  0% {
    top: 56.1px;
    height: 91.8px;
  }
  50% {
    top: 71.4px;
    height: 61.2px;
  }
  100% {
    top: 71.4px;
    height: 61.2px;
  }
}
.ldio-p9kl9xbnh6i div {
  position: absolute;
  width: 30.6px;
}
.ldio-p9kl9xbnh6i div:nth-child(1) {
  left: 35.7px;
  background: #f2df74;
  animation: ldio-p9kl9xbnh6i-1 2.5s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  animation-delay: -0.5s;
}
.ldio-p9kl9xbnh6i div:nth-child(2) {
  left: 86.7px;
  background: #004165;
  animation: ldio-p9kl9xbnh6i-2 2.5s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  animation-delay: -0.25s;
}
.ldio-p9kl9xbnh6i div:nth-child(3) {
  left: 137.7px;
  background: #cd202c;
  animation: ldio-p9kl9xbnh6i-3 2.5s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  animation-delay: undefineds;
}
@keyframes ldio-fhoosa8yvi {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(22.5deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
.ldio-fhoosa8yvi > div {
  transform-origin: 50px 50px;
  animation: ldio-fhoosa8yvi 0.33333333s infinite linear;
}
.ldio-fhoosa8yvi > div div {
  position: absolute;
  width: 11px;
  height: 76px;
  background: #b8c0c4;
  left: 50px;
  top: 50px;
  transform: translate(-50%, -50%);
}
.ldio-fhoosa8yvi > div div:nth-child(1) {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.ldio-fhoosa8yvi > div div:nth-child(6) {
  width: 40px;
  height: 40px;
  background: #ffffff;
  border-radius: 50%;
}
.ldio-fhoosa8yvi > div div:nth-child(3) {
  transform: translate(-50%, -50%) rotate(45deg);
}
.ldio-fhoosa8yvi > div div:nth-child(4) {
  transform: translate(-50%, -50%) rotate(90deg);
}
.ldio-fhoosa8yvi > div div:nth-child(5) {
  transform: translate(-50%, -50%) rotate(135deg);
}
.loadingio-spinner-gear-lc4nn2z8h4 {
  width: 75px;
  height: 75px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-fhoosa8yvi {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.75);
  backface-visibility: hidden;
  transform-origin: 0 0;
  /* see note above */
}
.ldio-fhoosa8yvi div {
  box-sizing: content-box;
}
/* generated by https://loading.io/ */
.page-title {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 16px;
}
.field--name-field-lead-text {
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 16px;
}
.field--name-body {
  margin-top: 24px;
  margin-bottom: 24px;
}
.field--name-field-category a,
.field--name-field-leader-division a,
.field--name-field-leader-area a {
  border-radius: 0;
  font-size: 15px;
  line-height: 31px;
  padding: 0 11px 0 8px;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 4px;
  min-width: 200px;
  text-align: center;
  display: inline-block;
}
.field--name-field-category a:hover,
.field--name-field-leader-division a:hover,
.field--name-field-leader-area a:hover {
  background-color: #262626;
  color: #fff;
}
.field--name-field-presentation-topu .field__item {
  margin-bottom: 10px;
}
.shareto {
  border-radius: 4px;
  border: 1px solid #d1d6d6;
  background-color: #eceeee;
  padding: 16px;
  display: inline-block;
}
.shareto span {
  display: inline-block;
}
.shareto .social-sharing-buttons {
  margin: 0;
}
.path-node.page-node-type-article .region-content,
.path-node.page-node-type-news .region-content,
.path-node.page-node-type-resources .region-content {
  border-radius: 4px;
  border: 1px solid #d1d6d6;
  padding: 24px;
}
.field--name-field-tags .field__items .field__item {
  display: inline-block;
}
.field--name-field-tags .field__items .field__item a {
  border-radius: 4px;
  border: 1px solid #d1d6d6;
  background-color: #eceeee;
  padding: 16px;
  display: inline-block;
  margin-right: 16px;
  text-decoration: none;
  color: #333;
}
.field--name-field-tags .field__items .field__item a:hover {
  background-color: #d1d6d6;
  text-decoration: underline;
}
.field--name-field-file-upload,
.field--name-field-news-source {
  margin-bottom: 24px;
}
footer.node__meta {
  padding: 0;
}
body {
  font-family: 'Montserrat', sans-serif;
}
.page-header {
  font-family: "LubalinGraphEF", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.h1,
.h2,
.h3,
.h4,
h1,
h2,
h3,
h4,
h5,
.h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
a {
  color: #004165;
}
a:hover {
  color: #0093e4;
}
.block-system-branding-block {
  min-width: 300px;
}
@media (min-width: 992px) {
  .large-screen-menu {
    display: flex !important;
  }
  .mobile-screen-menu {
    display: none !important;
  }
}
.large-screen-menu {
  display: none;
}
.mobile-screen-menu {
  display: flex;
}
.featureImage {
  position: relative;
}
.featureImage .badge {
  border-radius: 0;
  font-size: 15px;
  line-height: 31px;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 11px 0 8px;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
}
.MaybeLater .cat-1 {
  background-color: #772432;
}
.MaybeLater .cat-2 {
  background-color: #772432;
}
.MaybeLater .cat-3 {
  background-color: #00B233;
}
.MaybeLater .cat-4 {
  background-color: #772432;
}
.MaybeLater .cat-5 {
  background-color: #000;
}
.MaybeLater .cat-6 {
  background-color: #000;
}
.MaybeLater .cat-7 {
  background-color: #00B233;
}
.MaybeLater .cat-8 {
  background-color: #F2DF74;
}
.MaybeLater .cat-112 {
  background-color: #772432;
}
.MaybeLater .cat-113 {
  background-color: #772432;
}
.MaybeLater .cat-564 {
  background-color: #F2DF74;
}
.MaybeLater .cat-904 {
  background-color: #F2DF74;
}
.view-recent-news-and-posts.view-display-id-block_1 .description .body {
  display: none;
}
.view-recent-news-and-posts.view-display-id-block_1 .first .description {
  padding-left: 15px;
}
.view-recent-news-and-posts.view-display-id-block_1 .first .description .body {
  display: block;
}
.view-recent-news-and-posts.view-display-id-block_1 legend {
  display: none;
}
.view-recent-news-and-posts.view-display-id-block_1 fieldset.form-item {
  border: 0;
}
.block-inline-blocktext-block {
  position: relative;
}
.background-w-image {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}
/*# sourceMappingURL=./district96_b5.css.map */