parameters:
  reportUnmatchedIgnoredErrors: false
  customRulesetUsed: true
  paths:
    - .
  excludePaths:
    analyseAndScan:
      - *Test.php
      - *TestBase.php
      - *ServiceProvider.php
      - vendor
  fileExtensions:
    - module
    - theme
    - profile
    - install
includes:
  - vendor/mglaman/phpstan-drupal/extension.neon
  - vendor/phpstan/phpstan-deprecation-rules/rules.neon
