/**
 * @file
 * Visual styles for range field widget.
 */

.field--widget-range-text-fields .form-item {
  float: left; /* LTR */
  margin-right: 0.5em; /* LTR */
}
.field--widget-range-text-fields .form-item:last-child {
  margin-right: 0; /* LTR */
}
[dir="rtl"] .field--widget-range-text-fields .form-item {
  float: right;
  margin-right: 0;
  margin-left: 0.5em;
}
[dir="rtl"] .field--widget-range-text-fields .form-item:last-child {
  margin-left: 0;
}
